<nav>

</nav>

<!-- dynamic catigory select -->
<!--1)first make an empty arr in ejs
    2)then loop through all the movies
    3)then loop through each movies catigory arr in the movie loop
    4)have it that if that catigory isnt in the new emptyArr yet push it input

    5)now you have a new arr with all the catiogries, loop through it and
    make each one its own li with its own link
    6)make the li link its own /:id result that leads to its own index rout
    7)in the index rout say /app/carigories/:id, make it
    find({catigoires:req.params.id},af) and itll only return the movies
    with that catigory in it
    8)or you could return all the movies and save on the render the req.
    params.id to a key and use that key to filter out the page population
    on the page itself
 -->
