<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/opening.css">
  </head>
  <body>
  
    <h1><span></span> GiVids</h1>
    <img src="/img/giving.png" alt="">
  </body>
</html>
