.side{
  float: right;
}
.modal{
    display: none;
    width:150px;
    height: 200px;
    border: 2px solid black;
    position: fixed;
    top: 10%;
    left: 50%;
  }
span{
  float: right;
}
.nav, .drop-1, .drop-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid black;
  padding:0 20px;
}
.nav div{
  border: 1px solid black;
}
.hidden{
  display: none;
}
