.side{
  float: right;
}
.modal{
    display: none;
    width:300px;
    height: 200px;
    position: fixed;
    top: 10%;
    left: 30%;
    z-index: 10;
    background: url('/img/background5.jpeg');
    border: 2px solid #ddd;
  }
  .userForm{
    width:200px;
    margin-left: 80px;
  }
  .userForm input{
    display: block;
  }
.x{
  float: right;
}
.nav, .drop-1, .drop-2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:0 40px;
  width:70%;
  margin: 0 auto;
  background-image: linear-gradient(to left, black, rgb(0,50,0));
}
.hidden{
  display: none;
}
.flex-item{
  padding: 0 20px;
}
