/*--- Login/signup form styles  */
.side{
  float: right;
}
.modal{
    display: none;
    width:300px;
    height: 220px;
    position: fixed;
    top: 1%;
    left: 30%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #ddd;
  }
  .userForm{
    width:130px;
    margin-left: 90px;
  }
  .userForm h4{
    text-align: center;
  }
  .userForm input{
    display: block;
    width:100%;
  }
  .userForm input[type="submit"]{
    background: rgb(0,50,0);
    color: #ddd;
    height:30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .userForm input[type="submit"]:hover{
    background: rgb(0,80,0);
  }
.x{
  float: right;
  padding-right: 5px;
  cursor: pointer;
}
/*---- Nav bar dropdown styles ------*/
.nav, .drop-1, .drop-2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:0 40px;
  width:70%;
  margin: 0 auto;
  background-image: linear-gradient(to left, black, rgb(0,50,0));

}
.drop-1, .drop-2{
  animation-duration: .5s;
  animation-name: slidein;
}
.hidden{
  display: none;
}
.flex-item{
  padding: 0 20px;
  cursor: pointer;
}

@keyframes slidein {
  0%{position: relative; top: -20px;}
  100%{position: relative; top: 0px;}
}
