@font-face {
    font-family: 'Header';
    src:url('/img/AURORA PERSONAL USE.ttf')
}
body{
  background-image: linear-gradient(to right, black , rgb(0,30,0));
  color:#ddd;
}
.header{
  font-family: 'Header';
  font-size: 4em;
}
.container{
  width:90%;
  margin: 0 auto;
}
.movies{
  width:100px;
  height:150px;
  display: inline-block;
  padding-left: 50px;
  padding-top: 50px;
}
  img{
    width:100%;
    height: 100%;
  }
a{
  text-decoration: none;
  color: #ddd;
}
.center{
  text-align: center;
  margin: 10px auto;
  display: block;
}
.movie-hover{
  width: 100px;
  height:150px;
  position: absolute;
  z-index: 4;
}

.movie-hover:hover{
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
