@font-face {
    font-family: 'Header';
    src:url('/img/AURORA PERSONAL USE.ttf')
}
@font-face {
  font-family: "hollow";
  src: url('/img/Rainbow Colors - TTF.ttf');
}
body{
  background-image: linear-gradient(to right, black , rgb(0,30,0));
  color:#ddd;
}
.header{
  font-family: 'Header';
  font-size: 4em;
}

/*------- Below the navbar -----------*/

img{
  width:100%;
  height: 100%;
  }
a{
  text-decoration: none;
  color: #ddd;
}
.container{
  width:90%;
  margin: 0 auto;
}
.movies{
  width:100px;
  height:150px;
  /* display: inline-block; */
  /* padding-left: 50px; */
  /* padding-top: 50px; */
}
.movie-box{
  display: inline-block;
  padding-left: 50px;
  padding-top: 50px;
}

.center{
  text-align: center;
  margin: 10px auto;
  display: block;
}
.movie-hover{
  width: 100px;
  height:150px;
  position: absolute;
  z-index: 2;
}

.movie-hover:hover{
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/*--- End of movie style ---*/

/*---- Favorites btn for users ------*/

.favorite, .isnt-favorite{
  background: none;
  font-size: 30px;
  border: none;
  position: absolute;
  top:75%;
  left: 95%;
  color: #ddd;
  outline: none;
  cursor: pointer;
  z-index: 3;
}
.favorite:hover, .isnt-favorite:hover{
  background: none;
}

.isnt-favorite{
  font-family: 'hollow';
  font-size: 50px;
}

/*------ Login and out styleing (optional) ------*/
 button,input[type='submit']{
  background: rgb(0, 40, 0);
  color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

 button:hover,input[type='submit']:hover{
  background: rgb(0,80,0);
}
