<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%include ../partials/head.ejs %>
  </head>
  <body>
  <div class="container">
    <%include ../partials/user-btn.ejs %>
      <h1>Movies from <%=selectedRating%></h1>
      <%include ../partials/nav.ejs %>
      <%for (let i = 0; i < allMovies.length; i++) {
        if(allMovies[i].rated === selectedRating){ %>

          <div class="movie-box">
            <%include ../partials/movie-display.ejs %>
          </div>
      <%}} %>
  </div>
  </body>
</html>
