<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/user.css">
  </head>
  <body>
    <h1><%=selectedCatigory%> Movies</h1>
    <%for (let i = 0; i < allMovies.length; i++) {
      for (let j = 0; j < allMovies[i].catigory.length; j++) {
        if( allMovies[i].catigory[j] === selectedCatigory){ %>
          <h3><%=allMovies[i].title%></h3>
          <div class="movies">
            <a href="/movies/<%=allMovies[i].id%>"><img src="<%=allMovies[i].img[0]%>" alt=""></a>

          </div>
        <%}
      }
    } %>
  </body>
</html>
