<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%include ../partials/head.ejs %>
  </head>
  <body>
  <div class="container">
    <%include ../partials/user-btn.ejs %>
    <h1 class="header">GiVids</h1>
    <%include ../partials/nav.ejs %>


    <%for(let i = 0; i < allMovies.length; i++){ %>

      <div class="movies">
        <a href="/movies/<%=allMovies[i].id%>"><span class="movie-hover"></span></a>
        <img src="<%=allMovies[i].img[0]%>" alt="">

        <!-- <span class="bottom"> <%=allMovies[i].title%></span> -->
      </div>
      <%}%>
  </div>
  </body>
</html>
