<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/user.css">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="/js/user.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Index page</h1>
    <%include ../partials/user-btn.ejs %>

    <%for(let i = 0; i < allMovies.length; i++){ %>
      <h3><%=allMovies[i].title%></h3>
      <div class="movies">
        <a href="/movies/<%=allMovies[i].id%>"><img src="<%=allMovies[i].img[0]%>" alt=""></a>

      </div>
      <%}%>
      <hr>
      <%include ../partials/nav.ejs %>
  </body>
</html>
