<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%include ../partials/head.ejs %>
  </head>
  <body>
  <%include ../partials/user-btn.ejs %>
    <h1>Movies from <%=selectedRating%></h1>
    <%include ../partials/nav.ejs %>
    <%for (let i = 0; i < allMovies.length; i++) {
      if(allMovies[i].rated === selectedRating){ %>
        <h3><%=allMovies[i].title%></h3>
        <div class="movies">
          <a href="/movies/<%=allMovies[i].id%>"><img src="<%=allMovies[i].img[0]%>" alt=""></a>

        </div>
    <%}} %>
  </body>
</html>
